$color-fondo: rgb(17, 0, 56);
$color-uno:rgb(65, 128, 246);
$color-dos: rgb(238, 62, 254);
$color-claro: white;
$color-oscuro: rgb(17, 0, 56);
$boton-claro: rgb(238, 62, 254);
$boton-gris: rgb(180, 180, 180);
$sombra: rgb(180, 180, 180);