$color-fondo: rgb(255, 244, 253);
$color-uno:rgb(65, 128, 246);
$color-dos: rgb(247, 201, 243);
$color-claro: white;
$color-oscuro: rgb(17, 0, 56);
$boton-claro: rgb(247, 201, 243);
$boton-gris: rgb(230, 230, 230);
$sombra: rgb(180, 180, 180)
