* {
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  font-size: 14px;
  width: 100%;
  background-color: #fff4fd; }

header {
  position: absolute;
  width: 100%;
  height: 23px;
  background: linear-gradient(to right, #4180f6, #f7c9f3);
  left: 0;
  top: 0;
  padding: 3px;
  box-shadow: 0 1px 0 0 #110038; }

p {
  display: inline-block;
  margin: 0;
  padding-top: 3px;
  vertical-align: middle;
  font-family: 'Chakra Petch', sans-serif;
  color: white;
  font-size: 0.9em; }

.bold {
  font-weight: bold; }

#inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.paraElUsuario {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.btn_color {
  position: relative;
  padding: 9px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 white;
  margin-right: 16px; }
  .btn_color:hover {
    cursor: pointer; }

.btn_color:hover {
  background: #E6BBE2; }
  .btn_color:hover::after {
    position: absolute;
    content: '';
    width: 96%;
    height: 86%;
    border: 1px dotted #110038;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.usuario::after {
  content: '';
  border-bottom: 1px solid #110038;
  width: 8px;
  display: block; }
.usuario:hover {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  border: 1px dotted #110038; }
.usuario:active {
  border: none;
  color: #b4b4b4; }
  .usuario:active::after {
    content: '';
    border-bottom: 1px solid #b4b4b4;
    width: 8px;
    display: block; }

.boton {
  vertical-align: middle;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1em;
  color: #110038;
  line-height: 1.2em;
  padding-top: 0px; }

.estilos {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 16px; }
  .estilos:hover .botonEstilos {
    background: #E6BBE2; }
    .estilos:hover .botonEstilos::after {
      content: '';
      position: absolute;
      width: 143px;
      height: 30px;
      border: 1px dotted #110038;
      top: 50%;
      left: 50%;
      transform: translate(-62.5%, -50%); }
  .estilos:hover .flecha {
    background: #E6BBE2; }
    .estilos:hover .flecha::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      border: 1px dotted #110038;
      top: 7%;
      right: 2%; }

.botonEstilos {
  padding: 9px;
  padding-left: 26px;
  padding-right: 26px;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 white; }
  .botonEstilos:hover {
    cursor: pointer; }

.flecha {
  padding: 9px;
  padding-right: 14px;
  padding-left: 14px;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  border-left: 0px;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 white; }
  .flecha:hover {
    cursor: pointer; }

.listaEstilos {
  display: none;
  list-style-type: none;
  position: absolute;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 100%;
  margin-top: 0px;
  top: 100%;
  left: 0;
  z-index: 101;
  padding: 10px; }

.estiloDia {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  padding: 7px;
  padding-left: 16px;
  margin-bottom: 10px; }
  .estiloDia::after {
    content: '';
    border-bottom: 1px solid #110038;
    width: 8px;
    display: block; }
  .estiloDia:hover {
    cursor: pointer; }

.estiloNoche {
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  padding: 7px;
  padding-left: 16px; }
  .estiloNoche:hover {
    cursor: pointer; }

#buscador {
  display: block;
  position: relative;
  width: 100%;
  height: 99px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 white;
  margin-top: 20px; }

.acolor {
  width: 100%;
  height: 25%;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  box-shadow: inset -2px 0px 0 0 #b4b4b4, inset 2px 2px 0 0 white;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  padding: 4px;
  font-size: 1em;
  color: white; }

.gbuscar {
  background: white;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  width: 90%;
  height: 80%;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1em;
  color: #b4b4b4;
  line-height: 1.4em;
  margin: 9px;
  margin-top: 0px;
  margin-right: 5px;
  padding: 12px; }
  .gbuscar:focus {
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: white;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000; }
  .gbuscar:focus ~ .buscar_btn {
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 white;
    color: black; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

.buscar_btn {
  position: relative;
  background: #e6e6e6;
  border: 1px solid gray;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 white;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1em;
  color: #b4b4b4;
  line-height: 1.2em;
  padding: 8px;
  width: 7.5%; }
  .buscar_btn:active {
    background: #E6BBE2;
    color: #110038; }
    .buscar_btn:active::after {
      content: '';
      width: 83px;
      height: 28px;
      border: 1px dotted #110038;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 102; }
  .buscar_btn:focus {
    outline: none; }

#buscarRecomendaciones {
  display: none;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 white;
  width: 100%;
  padding: 16px;
  position: absolute;
  top: 100%;
  z-index: 105; }

.recomendaciones {
  margin: 0px;
  padding: 0px; }

.recomendacion {
  position: relative;
  list-style-type: none;
  background: #f0f0f0;
  border: 1px solid gray;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 white;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  margin: 11px;
  padding: 7px;
  padding-left: 16px; }
  .recomendacion:hover {
    cursor: pointer;
    background: #DBDBDB;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }
    .recomendacion:hover::after {
      content: '';
      width: 99.7%;
      height: 86%;
      border: 1px dotted #110038;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 106; }

#tagsrelacionados {
  display: flex;
  flex-direction: row; }

.dtag {
  display: none;
  background: #4180F6;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  padding: 8px;
  margin-right: 8px;
  margin-top: 12px; }
  .dtag:hover {
    cursor: pointer; }

.tseccion {
  text-transform: capitalize;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1em;
  color: #110038;
  padding: 7px;
  margin-top: 64px; }

.contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 1px;
  padding-right: 1px; }

.gifs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #e6e6e6;
  padding: 3px;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 white; }

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  margin: 2px; }

.salir {
  cursor: pointer; }

.gif {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 2px;
  background-color: #e6e6e6; }
  .gif:hover::after {
    content: '';
    width: 276px;
    height: 276px;
    border: 1px dotted #110038;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99; }

.mas {
  position: absolute;
  bottom: 8%;
  left: 5%;
  background: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 white;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1em;
  color: white;
  text-align: center;
  line-height: 1.2em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 100; }
  .mas:hover {
    background: #3a72db;
    cursor: pointer; }
    .mas:hover::after {
      content: '';
      width: 70px;
      height: 24px;
      border: 1px dotted #110038;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.gifs2grande, .gifGrandeUsuario {
  width: 592px;
  height: 298px;
  margin-bottom: 16px;
  background: #e6e6e6; }
  .gifs2grande:hover, .gifGrandeUsuario:hover {
    width: 598px;
    height: 304px;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 white; }

.gif2grande, .gifGrandeU {
  position: relative;
  width: 592px;
  height: 298px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e6e6e6; }
  .gif2grande:hover::after, .gifGrandeU:hover::after {
    content: '';
    width: 588px;
    height: 294px;
    border: 1px dotted #110038;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99; }

.gifs2, .gifUsuario {
  width: 288px;
  height: 298px;
  margin-bottom: 16px;
  background: #e6e6e6; }
  .gifs2:hover, .gifUsuario:hover {
    width: 294px;
    height: 304px;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 white; }

.gif2, .gifU {
  position: relative;
  width: 288px;
  height: 298px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e6e6e6; }
  .gif2:hover::after, .gifU:hover::after {
    content: '';
    width: 284px;
    height: 294px;
    border: 1px dotted #110038;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99; }

.gif2img, .gifimg, .gifUimg {
  width: 100%;
  height: 100%; }

.pie {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%); }

#inicio2 {
  display: flex;
  flex-direction: row;
  align-items: center; }

.back {
  margin-right: 7px; }

.instrucciones {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 white;
  width: 55%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 100px; }

.icontenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  align-items: flex-start; }

.ventana {
  height: 100%;
  margin-right: 16px; }

.subcontenido {
  margin-right: 20px; }

.tinstrucciones {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  color: #110038;
  line-height: 22px;
  margin-top: 0px; }

.instructivo {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1em;
  color: #110038;
  line-height: 20px; }

.confirmacion {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 30px; }

.btn_gris {
  position: relative;
  padding: 9px;
  padding-left: 30px;
  padding-right: 30px;
  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #9a7e98, inset 1px 1px 0 0 white;
  margin-right: 16px; }
  .btn_gris:hover {
    cursor: pointer; }

.btn_gris:hover {
  background: #f0e5ee;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 white; }
  .btn_gris:hover::after {
    position: absolute;
    content: '';
    width: 96%;
    height: 86%;
    border: 1px dotted #110038;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.olinstrucciones {
  list-style: none;
  counter-reset: section;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px; }

.olinstrucciones li {
  counter-increment: section;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1em;
  color: #110038;
  line-height: 30px; }
  .olinstrucciones li::before {
    content: counter(section) ")";
    font-weight: bold;
    margin-right: 3px; }

.captura {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 white;
  width: 65%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column; }

video {
  background-color: white;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 black;
  width: 97%;
  max-height: 480px;
  margin: 10px;
  object-fit: cover; }

.btn_doble {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  padding-right: 0px; }
  .btn_doble:hover .btn {
    background: #e6bbe2; }
    .btn_doble:hover .btn::after {
      content: '';
      position: absolute;
      width: 95%;
      height: 90%;
      border: 1px dotted #110038;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .btn_doble:hover .icono {
    background: #e6bbe2; }
    .btn_doble:hover .icono::after {
      content: '';
      position: absolute;
      width: 90%;
      height: 90%;
      border: 1px dotted #110038;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.btn {
  position: relative;
  padding: 9px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 white;
  margin-right: 16px; }
  .btn:hover {
    cursor: pointer; }

.icono {
  position: relative;
  padding: 9px;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 white; }
  .icono:hover {
    cursor: pointer; }

.btn_oscuro {
  position: relative;
  padding: 9px;
  padding-right: 50px;
  padding-left: 50px;
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 white;
  margin-right: 16px;
  vertical-align: middle; }
  .btn_oscuro:hover {
    cursor: pointer; }

.icono_oscuro {
  position: relative;
  padding: 9px;
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 white;
  vertical-align: middle; }
  .icono_oscuro:hover {
    cursor: pointer; }

.blanco {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1em;
  color: white;
  text-align: center;
  line-height: 18px; }

.base {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0px; }

.cronometro {
  background: white;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 black;
  margin-left: 10px;
  padding: 12px; }

.base > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.reproductor {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 24px; }

.play {
  position: relative;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  width: 20px;
  height: 20px;
  margin-right: 4px; }
  .play:hover {
    cursor: pointer; }

.play > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%); }

.tiempo {
  display: flex;
  flex-direction: row;
  background: #B4B4B4;
  box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #FFFCFC;
  justify-content: space-between;
  height: fit-content;
  width: 240px;
  padding: 2px; }

.tiempo > div {
  width: 12px;
  height: 20px;
  background: #999999; }

.subiendo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 black;
  width: 97%;
  height: 380px;
  margin: 10px; }

h2 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #110038;
  text-align: center;
  line-height: 22px;
  margin-bottom: 30px; }

.interno {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
  text-align: center;
  line-height: 14px; }

.tachado {
  text-decoration: line-through; }

.largo {
  width: 324px; }

.chico {
  width: 55%; }

.subido {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px; }

.subido > .subcontenido > div {
  margin-bottom: 14px; }

.btn_largo {
  width: 25%;
  text-align: center; }

#capturar, #subiendo, #subido {
  display: none; }

.displayNone {
  display: none; }

/*# sourceMappingURL=day-style.css.map */
